# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
neodlp
neodlp.exe

# Test binary
*.test

# Output
/out/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Dependencies
vendor/

# Build
/tmp/
